* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Neutral-900: hsl(227, 75%, 14%);
    --Neutral-800: hsl(226, 25%, 17%);
    --Neutral-700: hsl(225, 23%, 24%);
    --Neutral-300: hsl(0, 0%, 78%);
    --Neutral-200: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --Neutral-0: hsl(200, 60%, 99%);
    --Red-400: hsl(3, 86%, 64%);
    --Red-500: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);
    --Light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark: linear-gradient(180deg, #040918 0%, #091540 100%);
    --app-bg: var(--Light);
    --app-color: black;
    --header-bg: var(--Neutral-0);
    --header-title-color: var(--Neutral-700);
    --toggle-btn-bg: var(--Neutral-100);
    --header-title-color: var(--Neutral-900);
    --main-header-btn-bg: var(--Neutral-0);
    --main-header-btn-color: var(--Neutral-900);
    --extention-bg: var(--Neutral-0);
    --extention-color: var(--Neutral-900);
    --text-color: var(--Neutral-700);
    --active-bg: var(--Red-700);
    --inactive-bg: var(--Neutral-300);
    --selected-bg: var(--Red-700);
    --selected-color: var(--Neutral-0);
}

.dark-theme {
    --app-bg: var(--Dark);
    --app-color: white;
    --header-bg: var(--Neutral-800);
    --header-title-color: var(--Neutral-0);
    --toggle-btn-bg: var(--Neutral-700);
    --header-title-color: var(--Neutral-0);
    --main-header-btn-bg: var(--Neutral-700);
    --main-header-btn-color: var(--Neutral-0);
    --extention-bg: var(--Neutral-800);
    --extention-color: var(--Neutral-0);
    --text-color: var(--Neutral-100);
    --active-bg: var(--Red-400);
    --inactive-bg: var(--Neutral-700);
    --selected-bg: var(--Red-400);
    --selected-color: var(--Neutral-900);
}


body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    min-height: 100vh;
}


.app {
    background: var(--app-bg);
    color: var(--app-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--header-bg);
    padding: 1rem;
    border-radius: 1rem;
}


.header-title, 
.extention-info > h2,
.remove-btn {
    color: var(--header-title-color);
}

.extention-info > p {
    color: var(--text-color);
}


.remove-btn {
    background: transparent;
}


.status-toggle-btn {
    border: none;
    display: flex;
    align-items: center;
    padding: .5rem .25rem; 
    width: 2.5rem;
    height: 1.5rem;
}

.active {
    justify-content: end;
    background: var(--active-bg);
}


.inactive {
    justify-content: start;
    background: var(--inactive-bg);
}


.circle {
    border-radius: 50%;
    width: 1.125rem;
    height: 1.125rem;
    background: var(--Neutral-0);
}


.toggle-btn {
    background: var(--toggle-btn-bg);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}


.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}


.main-header {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}


.main-header > h1 {
    color: var(--header-title-color);
    font-size: 2.125rem;
    font-weight: bolder;
}


button {
    border: .5px solid var(--Neutral-300);
    border-radius: 5rem;
    padding: .5rem 1rem;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
}


.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}


.btns > button {
    background: var(--main-header-btn-bg);
    color: var(--main-header-btn-color);
}


.extention-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}


.extention {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
    background: var(--extention-bg);
    border-radius: 1rem;
}

.extention > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.extention-info-container {
    display: flex;
    align-items: start;
    gap: 1rem;
}


.extention-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.selected {
    background: var(--selected-bg) !important;
    color: var(--selected-color) !important;
}

a {
    text-decoration: none;
    color: var(--extention-color);
    font-weight: bolder;
    font-size: 1.125rem;
    transition: all 0.3s ease-in-out;
    font-style: italic;
}


a:hover {
    color: var(--selected-bg);
}

@media (min-width: 768px) {
    .app {
        padding: 2rem;
    }

    .header {
        padding: 2rem;
    }

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 3rem;
    }

    .main-header > h1 {
        font-size: 2.5rem;
        white-space: nowrap;
    }

    .btns {
        justify-content: end;
    }

    .extention-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 2rem;
    }

    .extention {
        height: 100%;
        padding: 2rem;
    }
}